{{> navbar}}
<br />

<h1>Index</h1>
<a href="/ruta-protegida">Ir a ruta protegida</a>
<br />
<a href="/login">Ir a login</a>
<a href="/signup">Ir a signup</a>
<br />
<a href="/auth/twitter">Login con twitter</a>
<br />
{{> footer}}
<br />