{{> navbar}}
<br />

<div>
    _id: {{user._id}}<br />
    username: {{user.username}}<br />
    password: {{user.password}}<br />
    twitter id: {{user.twitterId}}<br />
</div>

<a href="/logout">Salir</a>
<br />
{{> footer}}
<br />